/* vh means "viewport height", meaning "in reference to your window's height" */
/* vw means "viewport width", meaning "in reference to your window's width" */

body {
    margin: 2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4a4600;
    background-color: #867979;
}


h1 {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 150%;
}

.intro {
    margin-bottom: 5vh;
}

.intro:hover{

}

p{
    margin-left: 12vw;
    margin-right: 8vw;
    text-align: justify;
    font-size: 1.3vw;
    line-height: 1.3;
}

a{
  text-decoration: none;
  color: #4a4600;
}

/* this is the link styling for when it's hovered over or focused */
a:focus, a:hover{

}

/* this is why the link always remains blue */
a:visited{
  text-decoration: none;
  color: #4a4600;
}

/* this is styling for the table */
  .szczebrzeszyn {
    margin-left: 5vw;
    margin-right: auto;
    width: auto;
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: repeat(6, 20vw);
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-auto-flow: column; 
  }

/* this is the individual box styling */
  .box {
    background-color: rgb(34, 33, 33);
    color:  rgb(34, 33, 33);
    border-radius: 5%;
    padding: 8%;
    font-size: 100%;
  }

/* here are different colors for when we hover over a box or use keyboard navigation on the boxes */
  .box:focus, .box:hover{

  }

/* this is first column and first row in the table */
  .box:nth-child(-n+8), .box:nth-child(8n+1) {
    background-color: #ccc;
    color: #000;
    text-align: center;
    padding-top: 12%;
    font-weight: bold;
    font-size: 150%;
  }

  /* this is the box in the top left corner of the table */
  .box:nth-child(1) {
    opacity: 0.01;
  }

/* this is styling of the small pictures */
    .box .szczebrzeszynm {
        height: 70px;
        width: auto;
        border-radius: 5%;
    }

/* horizontal pictures */
    .box .szczebrzeszynmh {
        padding-top: 8%;
        height: 50px;
        width: auto;
        border-radius: 5%;
    }  
